<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div class="row py-2">
        <div class="col">
            <label for="name">City name:</label>
        </div>
        <div class="col">
            <input type="text"
                   class="form-control"
                   id="name"
                   [formControlName]="'name'">
            <span *ngIf="nameControl.touched && nameControl.invalid">
                <i>Please enter a valid name</i>
            </span>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <label for="country">City country:</label>
        </div>
        <div class="col">
            <input type="text"
                   class="form-control"
                   id="country"
                   [formControlName]="'country'">
            <span *ngIf="countryControl.touched && countryControl.errors?.['required']">
                <i>Please enter a valid country</i>
            </span>
            <span *ngIf="countryControl.touched && countryControl.errors?.['minlength']">
                <i>Country value must be at least 2 characters</i>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col py-2">
            <label for="yearsVisited">Years visited:</label>
        </div>
        <div class="col" [formArrayName]="'yearsVisited'">
            <div *ngFor="let year of yearsVisitedControls; let i = index" class="py-2">
                <div class="input-group">
                    <input type="number" class="form-control" id="yearsVisited" [formControl]="year">
                    <button type="button"
                            class="btn btn-outline-primary"
                            (click)="addYearVisited()"
                            *ngIf="i === 0">
                        +
                    </button>
                    <button type="button"
                            class="btn btn-outline-primary"
                            (click)="removeYearVisited(i)">
                        x
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2 justify-content-end">
        <div class="col-6 d-grid">
            <button type="submit"
                    class="btn btn-primary">
                {{ city && city.id ? 'Update' : 'Add' }} City
            </button>
        </div>
    </div>
</form>
